<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="EUC-KR">
<title>Login</title>
</head>
<body>

<h1>Login</h1>


<ul>
	<li><a th:href="@{/home}">Home</a></li>
	<li><a th:href="@{/article}">Article</a></li>
	<li><a th:href="@{/article/9ed8dd14-9cf1-40e0-a108-da80184ae1ad}">Article Detail</a></li>
	
	
</ul>


	


<form th:action="@{/login}" th:method="POST">
	<table>	
		<tr th:if="${param.error}">
			<td colspan="2" style="color:red">Invalid username or password!</td>
		</tr>
		<tr th:if="${param.logout}">
			<td colspan="2" style="color:red">You've been logged out.</td>
		</tr>
		<tr>
			<td>Username: </td>
			<td><input type="text" name="username"></td>
		</tr>
		<tr>
			<td>Password: </td>
			<td><input type="text"  name="password"/></td>
		</tr>
		<tr >
			<td colspan="2" style="float:right"><input type="submit" value="Login"/></td>
		</tr>
	</table>
</form>




</body>
</html>