@font-face {
    font-family: mainCateFont;
    src: url(../font/KhmerOSKoulen.ttf);
}
#div-img-logo{
    padding: 12px 75px;
    text-align: center;
}
.fontSR {
    font-family: "Khmer OS Siemreap" !important;
}

.padding-bottom3 {
    padding-bottom: 3px !important;
}

.img-profile {
    font-size: x-large;
    border-radius: 100%;
    margin-bottom: 5px !important;
}

.searchbox {
    height: 55px;
    width: 100%;
    top: 5px;
    margin: 10px;
}

input {
    font-family: "Khmer OS Siemreap" !important;
}

#ul-lang {
    padding: 0px;
}

#ul-lang>li {
    display: inline-block;
}

.Nomargin {
    margin: 0px !important;
}

.oribg {
    background-color: #fbb03b !important;
    color: white !important;
}

.oriborder {
    border: 1px solid #fbb03b !important;
}

.oriColor {
    color: #fbb03b !important;
}

.borderbottom {
    border-bottom: 2px solid lightgray !important;
}

#div_btnSearch {
    width: 15%;
    padding: 18px 14px !important;
    text-align: center;
    display: block;
    z-index: 103;
    transition: .6s;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 0px rgba(0, 0, 0, 0.08);
    transition: box-shadow 200ms cubic-bezier(0.4, 0.0, 0.2, 1);
}

#div_btnSearch:hover {
    background-color: #1e8184 !important;
    color: white;
    box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.16), 0 0 0 0px rgba(0, 0, 0, 0.2);
    transition: box-shadow 200ms cubic-bezier(0.4, 0.0, 0.2, 1);
}

#txtSearch {
    /*width: 93%;*/
    /*z-index: 103;*/
    /*transition: .6s;*/
    /*box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 0px rgba(0, 0, 0, 0.08);*/
    /*transition: box-shadow 200ms cubic-bezier(0.4, 0.0, 0.2, 1);*/
    width: 100%;
    z-index: 300;
    padding: 18px 14px !important;
    border-radius: 0px;
}

#txtSearch:focus {
    box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.2), 0 0 0 0px rgba(0, 0, 0, 0.2);
    transition: box-shadow 200ms cubic-bezier(0.4, 0.0, 0.2, 1);
}

#ul_content {
    padding: 0px;
}

#ul_content>li {
    display: inline-block;
}

.list_main_cate {
    background-color: #1e8184 !important;
    border-radius: 5px !important;
    padding: 0px !important;
    cursor: pointer;
    width: 303px;
    margin: 5px !important;
    margin-left: 5px !important;
}

.img_main_cate {
    /*    margin: 10px 20px !important;*/
    margin: 0px 15px !important;
    height: 40px;
    background-color: #1e8184 !important;
}

.content_main_cate {
    background-color: white !important;
    padding: 15px !important;
    border: 1px solid #1e8184 !important;
    border-bottom-right-radius: 5px !important;
    border-top-right-radius: 5px !important;
    font-family: mainCateFont;
    width: 230px;
    /* or whatever width you want. */
    max-width: 230px;
    /* or whatever width you want. */
    font-size: large;
}

.iconDrop {
    float: right !important;
    margin-right: -12px !important;
}

.div_sub_cate {
    /*height: 193px;*/
    background-color: white;
    border-top: 0px;
    border-bottom: 7px solid #fbb03b;
    border-left: 2px solid #fbb03b;
    border-right: 2px solid #fbb03b;
    position: absolute;
    padding: 15px;
    overflow: hidden;
    padding-right: 5px;
        overflow-y: auto;
    display: none;
    z-index: 100;
}

#ul-content {
    padding: 0px;
    margin: 0px;
    width: 100%;
}

#ul-content>li {
    display: inline-block;
    width: 33%;
    margin-bottom: 20px;
}
#logo-Mobile,
#div-for-mobile {
    display: none;
}

#menu-container {
    margin: 0px !important;
    margin-bottom: 5px !important;
    border: none;
    box-shadow: none;
    border-radius: 0px;
    /*top: 0px;*/
    /*position: fixed;*/
    /*z-index: 101;*/
    /*width: 100%;*/
}
#textbox-fixed{
    position: fixed;
    display: none;
    top: 0px;
    width: 100%;
    z-index: 310;
    background-color: #fbb03b;
    border-bottom: 2px solid #fbb03b;
    height: 48px;
}
#div-txt-Search-fixed{
    left: 50%;
    width: 49.5%;
    transform: translate(-50%, 10%);
}
#div-btn-more {
    width: 15%;
    padding: 18px 14px !important;
    display: none;
    padding: 19px;
    z-index: 103;
}

#overlay-div {
    position: fixed;
    width: 100%;
    height: 100%;
    top:0px;
    /*    transition: .6s;*/
    z-index: 102;
    background-color: rgba(0, 0, 0, 0.4);
    display: none;
}

#div-btn-more:hover {
    background-color: #1e8184 !important;
    color: white;
    box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.16), 0 0 0 0px rgba(0, 0, 0, 0.2);
    transition: box-shadow 200ms cubic-bezier(0.4, 0.0, 0.2, 1);
}

#txtResultSearch li.selected {
    background-color: #d9d9d9;
}

#txtResultSearch {
    height: auto;
    width: 561px;
    background-color: white;
    position: absolute;
    z-index: 102;
    top: 55px;
    border-top: 0px;
    border-bottom: 7px solid #fbb03b;
    border-left: 2px solid #fbb03b;
    border-right: 2px solid #fbb03b;
    display: none;
    overflow: hidden;
}

.itemResultL {
    text-align: left !important;
    padding-left: 10px !important;
}

.itemResultL:hover {
    border-radius: 0px !important;
}

.itemResultL>i {
    float: left !important;
    line-height: 25px;
}

.itemResultL>.content>.header {
    padding: 7px 7px 7px 0px;
}

.container {
    padding: 0px !important;
}

.header {
    font-family: "Khmer OS Siemreap" !important;
}

#footer {
    height: auto;
    width: 100%;
    position: fixed;
    background-color: #fbb03b;
    bottom: 0px;
    left: 0px;
    z-index: 200;
    text-align: right;
}
.ui.loading.segment:after{
    top: 25px !important;
}
.pagination.bootpag {
    margin: 5px !important;
}

.pagination.bootpag>.active>a {
    background-color: #fbb03b;
    border: 1px solid;
}

.content.active {
    padding: 0px !important;
}

.padding19px {
    padding: 19px !important;
}

.span-count {
    position: absolute;
    right: -4px;
    padding: 0px 5px;
    /*background-color: #e8e8e8;*/
}
#txt-Search-to-parent{
    border-radius: 0px !important;
}
#ul-Search-dropdown {
    padding: 0px;
    list-style-type: none;
    margin: 0px;
}

#ul-Search-dropdown>li {
    text-align: left;
    padding: 5px;
    padding-left: 10px;
    cursor: pointer;
    font-family: fontSR;
    font-size: 16px;
}
#ul-Search-dropdown>li>a {
    color: black;
    width: 100%;
    display: block;
}
#ul-Search-dropdown>li:hover {
    background-color: #d9d9d9;
}

#footer>div>a {
    color: white;
}

.modalForm {
    width: 80%;
    margin: 0 auto;
}
#accord-category>div.title {
    outline: none;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    border-radius: 0px;
    padding: 5px 5px 0px 20px;
    border-bottom: 1px solid #fbb03b;
    background-color: white;
    border-top: 0px solid #fbb03b;
    text-align: left;
    color: #5a5a5a;
    margin: 0px;
}
#accord-category>.ui.active.button{
    background-color: #f8f8ff !important;
}
#accord-category {
    height: auto !important;
    border-left: 1px solid #d9d9d9;
    margin-left: 5px;
    border-top: 1px solid #d9d9d9;
    border-right: 1px solid #d9d9d9;
    margin-top: -6px;
}

span.fontSR {
    color: #5a5a5a;
    font-weight: normal;
    padding-left: 10px;
    font-size: larger;
    height: 31px;
    position: relative;
}

.paddbottom5 {
    padding-bottom: 5px !important;
}

.dropIcon {
    float: right !important;
    height: 35px !important;
    line-height: 35px !important;
}

.userListCus {
    padding-left: 20px !important;
    overflow: hidden !important;
    padding-top: 6px !important;
    border-bottom: 1px solid #fbb03b;
}

.right.triangle.icon {
    width: 9px;
    max-width: 9px !important;
}

.no-padding {
    padding: 0px !important;
}

.right.triangle.icon {
    color: #fbb03b !important;
}

.content>.header {
    color: #5d5d5d !important;
    font-weight: normal !important;
}

.div_sub_cate_scroll {
    padding-top: 6px !important;
    /*padding-bottom: 30px;*/
}

.ui.list>.item {
    padding-bottom: 10px !important;
}

.content>.header:hover {
    color: #fbb03b !important;
    text-decoration: underline;
}

.container-fluid {
    margin-bottom: 55px !important;
}

.top-count {
    width: 100%;
}

#Search-Result-url {
    border: 0px;
    box-shadow: none;
}

#spanResult {
    padding-left: 20px;
}

#div-result-Url-detail {
    margin-top: 20px;
    width: 70%;
}

#ul-Urls {
    list-style-type: none;
    padding-left: 0px;
}

.mainurl {
    width: 100%;
    height: 110px;
    /*overflow: hidden;*/
    padding: 5px;
}

.myleft {
    margin: 0 auto;
    float: left;
    height: 110px;
    text-align: center;
    width: 110px;
    background-position: center center;
    background-size: 100% auto;
}
.myleft-f {
    margin: 0 auto;
    float: left;
    height: 100px;
    width: 150px;
    background-position: center center;
    background-size: 100% auto;
}
.myleft-f>.fb-bg {
    width: 100% !important;
    height: 100% !important;
}
.myleft>.w-img {
    width: 70% !important;
    height: auto !important;
}
.fb-img {
    padding-left: 10px;
    background-color: #3B5998;
    color: white;
    height: 40px;
    line-height: 40px;
}
.fb-img>a{
    color: white !important;
}
.fb-img>a>span{
    margin-left: 10px;
}
.myright {
    text-align: left;
    height: 100px;
    padding-left: 15px;
    overflow: hidden;
}

.url-title {
    font-weight: bold;
}

.url-title>a {
    color: rgba(0, 0, 0, .87);
}

.url-title>a:hover {
    color: #4183C4 !important;
}
.url-contact>a{
    color: black;
}
.url-contact>a:hover{
     color: #4183C4;
 }
.url-email>a{
    color: black;
}
.url-email>a:hover{
    color: #4183C4;
}
#div_btnSearch{
     width: 7%;
 }
#btn-scroll-top{
    /*display: none;*/
    transition: .6s;
    font-size: xx-large;
    position: fixed;
    right: 20px;
    bottom: 100px;
    z-index: 200;
    margin: 0px;
    padding: 6px;
    background-color: #fbb03b;
    color: white;
}
#btn-scroll-top>i{
    color: white;
    padding: 0px;
    margin: 0px;
}
.easy-autocomplete{
    width: 100% !important;
    z-index: 300;
}
#eac-container-txtSearch{
    /*display: none;*/
    /*border-bottom: 7px solid #fbb03b;*/
    /*border-left: 2px solid #fbb03b;*/
    /*border-right: 2px solid #fbb03b;*/
}
#eac-container-txtSearch>ul{
    margin-bottom: 0px;
    top: 0px;
}
.easy-autocomplete-container>ul>li{
    text-align: left;
    border-color: #ccc;
    border-image: none;
     border-style: none;
     border-width: 0px;
}
.displayNone{
    display: none !important;
}
#div-txt-Search-fixed>#txtSearchFixed{
    border: 1px solid white !important;
    border-radius: 0px;
}
#btnSearchFixed{
    background-color: white !important;
    color: #fbb03b !important;
    border-radius: 0px;
}
#btnSearchFixed:hover{
    background-color: #fbb03b !important;
    color: white !important;
    border-radius: 0px;
    border-right: 1px solid white;
    border-bottom: 1px solid white;
    border-top: 1px solid white;
}
#sub-logo{
    width: 14%;
    position: absolute;
    left: 0px;
    top: 4%;
    cursor: pointer;
}
#sub-logo>img{
    width: 100%;
    height:100%;
    margin-left: 38%;
}

#list-service{
    white-space: normal !important;
    width: 366px !important;
}
#container-list-service{
    text-align: left;width: auto;left: -207%;
    border: 1px solid;
}
#list-service>.item{
    padding: 10px;
    width: 120px !important;
    /* height: 85px !important; */
    text-align: left;
    display: inline-flex;
    /* margin: 10px; */
}
.img-circle{
    border-radius: 100% !important;
}
.ui.avatar.image{
    width: 2.5em !important;
    height: 2.5em !important;
}
.ui.search.dropdown{
    width: 100% !important;
}
.ui.selection.list .list>.item, .ui.selection.list>.item{
    white-space: nowrap !important;
}
@media only screen and (max-width: 1200px) {
    #sub-logo {
        width: 14%;
        top: 20%;
    }
#div_btnSearch{
    width: 10%;
}
    #div-result-Url-detail {
        margin-top: 20px;
        width: 100%;
    }
}
@media only screen and (max-width: 900px) {
    #sub-logo {
        width: 15%;
        top: 20%;
    }
#div-result-Url-detail {
    margin-top: 20px;
    width: 100%;
}
#div_btnSearch{
    width: 15%;
}
}
@media only screen and (max-width: 768px) {
    #sub-logo{
        width: 16%;
        position: absolute;
        left: 0px;
        top: 24%;
    }
    #sub-logo>img{
        width: 100%;
        height:100%;
        margin-left: 30%;
    }
#ul-content>li {
    width: 49%;
}
#div_btnSearch{
    width: 15%;
}
#div_btnSearch{
    width: 15%;
}
#div-result-Url-detail {
    margin-top: 20px;
    width: 100%;
}
#logo-Mobile {
    display: block;
}
#div-img-logo {
    display: none;

}
#div-Server {
    display: none;
}
#div-add-manual {
    display: none;
}
#div-lang {
    display: none;
}
#div-btn-more {
    display: block;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 0px rgba(0, 0, 0, 0.08);
    transition: box-shadow 200ms cubic-bezier(0.4, 0.0, 0.2, 1);
}
}
@media only screen and (max-width: 595px) {
    #sub-logo{
        width: 19%;
    }
    #sub-logo>img{
        width: 100%;
        height:100%;
        margin-left: 15%;
    }
    .myleft{
        width: 76px;
    }
    .url-title>a{
        white-space: nowrap !important;
    }
    .myleft>.w-img {
        width: 70% !important;
        height: auto !important;
    }
#ul-content>li {
    width: 49%;
}
#logo-Mobile {
    display: block;
}
#div-img-logo {
    display: none;
}
#div-Server {
    display: none;
}
#div-add-manual {
    display: none;
}
#div-lang {
    display: none;
}
#div-btn-more {
    display: block;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 0px rgba(0, 0, 0, 0.08);
    transition: box-shadow 200ms cubic-bezier(0.4, 0.0, 0.2, 1);
}
}
@media only screen and (max-width: 370px) {
#ul-content>li {
    width: 100%;
}
#logo-Mobile {
    display: block;
}
#div-btn-more {
    display: block;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 0px rgba(0, 0, 0, 0.08);
    transition: box-shadow 200ms cubic-bezier(0.4, 0.0, 0.2, 1);
}
}

.mk-heading{
    border-bottom: 2px solid #ffa500 !important;
    color: #ffa500 !important;
    text-align: center;

}
 .mk-am-align{
     width: 100% !important;
     text-align: right !important;
 }
#no-connectivity{
    display: none;
    background-color:red;
    text-align: center;
    position: fixed;
    height: 30px;
    color: white;
    width: 100%;
    z-index: 1000;
    line-height: 30px;
}
#sms{
    display: none;
    background-color: #009900;
    text-align: center;
    position: fixed;
    height: 30px;
    color: white;
    width: 100%;
    z-index: 1050;
    line-height: 30px;
}
#whiteScreen{
    position: fixed;
    background: rgba(255,255,255,.8);
    height: 100%;
    width: 100%;
    z-index: 301;
    display: none;
}
.focusing{
    color: #fbb03b !important;
}
.img-service{
    width: 20px !important;
    height: 20px !important;
}
#txt-Img-File{
    display: none;
}
#upload-progress{
    width: 100%;
    display: none;
}
#accord-category>div.title:hover{
    background-color: #f8f8ff !important;
}
