<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" th:href="@{resources/admin/img/logo-icon.png}">
    <title>Knongdai - Login</title>

    <!-- Base Styles -->
    <link th:href="@{resources/admin/css/style.css}" rel="stylesheet">
    <link th:href="@{resources/admin/css/style-responsive.css}" rel="stylesheet">
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script th:src="@{resources/admin/js/html5shiv.min.js}"></script>
    <script th:src="@{resources/admin/js/respond.min.js}"></script>
    <![endif]-->


</head>

  <body class="login-body">

      <div class="login-logo">
          <img th:src="@{resources/admin/img/login_logo.png}" alt=""/>
      </div>
      <div class="container log-row">
          <form class="form-signin" th:action="@{/login}" th:method="POST">
              <div class="login-wrap">
                  <div th:if="${param.error}">
                      <span colspan="2" style="color:red">Invalid email or password!</span>
                  </div>
                  <div th:if="${param.logout}">
                      <span colspan="2" style="color:red">You've been logged out.</span>
                  </div>
                  <input type="text" class="form-control" placeholder="Email" autofocus name="email">
                  <input type="password" class="form-control" placeholder="Password" name="password">
                  <button class="btn btn-lg btn-success btn-block" type="submit">LOGIN</button>
                  <a class="btn btn-lg btn-default btn-block" th:href="@{/}">Cancel</a>
              </div>
          </form>
      </div>
      <!--jquery-1.10.2.min-->
      <script src="js/jquery-1.11.1.min.js"></script>
      <!--Bootstrap Js-->
      <script src="js/bootstrap.min.js"></script>
      <script src="js/jrespond..min.js"></script>

  </body>
</html>
