<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultrap.net.nz/thymeleaf/layout"
	  layout:decorator="/admin/admin-layout">
<head>
<meta charset="UTF-8">
<title>Main-Category</title>
</head>
<body>
	<div layout:fragment="content" class="wrapper">
		<div class="row">
			<div class="col-sm-12">
				<section class="panel">
					<header class="panel-heading ">
						Convertable Data Table
						<span class="tools pull-right">
                                    <a class="fa fa-repeat box-refresh" href="javascript:;"></a>
                                    <a class="t-close fa fa-times" href="javascript:;"></a>
                                </span>
					</header>
					<table class="table convert-data-table data-table" id="DataTables_Table">
						<thead>
						<tr>
							<th>ID</th>
							<th>Category</th>
							<th>Description</th>
							<th>Status</th>
							<th>Action</th>
						</tr>
						</thead>
						<tbody id="mainCategoryData">

						</tbody>
					</table>
				</section>
			</div>
			<!--JQuery-->

			<script type="text/x-jquery-tmpl" id="mainCategory_tmpl">
			{{each(i , mainCategory) mainCategories}}
				<tr role="row">
					<td class="sorting_1">${mainCategory.id}</td>
					<td>${mainCategory.cate_name}</td>
					<td>${mainCategory.des}</td>
					<td class="text-center">
							{{if status == true}}
								<a id="btMainCategoryStatus" class="btn btn-sm btn-success"><i class="fa fa-fw fa-check"></i></a>
							{{else}}
								<a id="btMainCategoryStatus" class="btn btn-sm btn-danger"><i class="fa fa-fw fa-times"></i></a>
							{{/if}}
						</td>
						<td class="text-center">

							<a  href="#delete" id="btDelete" data-id=${id}
								class="btn btn-sm btn-danger" >
								<i class="fa fa-trash"></i>
							</a>
							<a 	th:href="#update" id="btUpdate" data-id=${id}
								class="btn btn-sm btn-warning">
								<i class="fa fa-pencil"></i>
							</a>
							<a	href="#detail" id="btDetail" data-id=${id}
								class="btn btn-sm btn-info">
								<i class="fa fa-info"></i>
							</a>
						</td>
				</tr>
			{{/each}}
		</script>


		</div>


		<!--Add -->
		<!--Add not yet complete-->
		<div class="modal fade" id="mainCategoryAddModal">
			<!-- form start -->
			<form class="form-horizontal" id="mainCategoryAddForm" action="#" method="POST">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
							<h4 class="modal-title">Add Main Category</h4>
						</div>
						<div class="modal-body">
							<!-- /.box-header -->
							<div class="box-body">

								<div class="form-group">
									<label class="col-sm-12">Main Category name :</label>
									<div class="col-sm-12">
										<input type="text" class="form-control" id="mainCategoryName" placeholder="Main Category name...">
									</div>
								</div>

								<div class="form-group">
									<label class="col-sm-12">Icon name :</label>
									<div class="col-sm-12">
										<input type="text" class="form-control" id="iconName" placeholder="Icon name...">
									</div>
								</div>

								<div class="form-group">
									<label class="col-sm-12">Description :</label>
									<div class="col-sm-12">
										<textarea class="form-control" id="description" placeholder="Description..." rows="3"></textarea>
									</div>
								</div>

								<div class="form-group">
									<label class="col-sm-12">Keyword :</label>
									<input  type="text" class="tags tags-input" data-default="add keywords..." data-type="tags"/>

								</div>

							</div>
							<!--End box-body-->
						</div>
						<!--End modal-body-->

						<div class="modal-footer">
							<button type="button" class="btn btn-default pull-left"
									data-dismiss="modal">Close</button>
							<button type="submit" class="btn btn-primary">Add</button>
						</div>

					</div>
					<!--End modal-content-->
				</div>
				<!--End modal-dialog-->
			</form>
		</div>

		<!--Update category-->
		<div class="modal fade" id="mainCategoryUpdateModal">
			<form class="form-horizontal" id="mainCategoryUpdateForm" action="#" method="PUT">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal"
									aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
							<h4 class="modal-title">Main Category Detail</h4>
						</div>

						<div class="modal-body">
							<div class="box-body">
								<div class="form-group">
									<label class="col-sm-12">Main Category name :</label>
									<div class="col-sm-12">
										<input type="text" class="form-control" id="mainCategoryName" placeholder="Main Category name...">
									</div>
								</div>

								<div class="form-group">
									<label class="col-sm-12">Icon name :</label>
									<div class="col-sm-12">
										<input type="text" class="form-control" id="iconName" placeholder="Icon name...">
									</div>
								</div>

								<div class="form-group">
									<label class="col-sm-12">Description :</label>
									<div class="col-sm-12">
										<textarea class="form-control" id="description" placeholder="Description..." rows="3"></textarea>
									</div>
								</div>

								<div class="form-group">
									<label class="col-sm-12">Keyword :</label>
									<input  type="text" class="tags tags-input" data-default="add keywords..." data-type="tags"/>

								</div>

							</div>
						</div>

						<div class="modal-footer">
							<button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
							<button type="submit" class="btn btn-primary">Update</button>
						</div>
					</div>
				</div>
			</form>
		</div>



		<!--View Detail-->
		<div class="modal fade" id="mainCategoryDetailModal">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal"
								aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
						<h4 class="modal-title">Main Category Detail</h4>
					</div>

					<div class="modal-body">
						<div class="table-responsive">
							<table class="table">
								<tbody>
									<tr>
										<th style="width: 20%">ID :</th>
										<td id="mainCategoryId"></td>
									</tr>
									<tr>
										<th style="width: 20%">Main Category :</th>
										<td id="mainCategoryName"></td>
									</tr>
									<tr>
										<th style="width: 20%">Description :</th>
										<td id="description"></td>
									</tr>
									<tr>
										<th style="width: 20%">Keyword :</th>
										<td><input id="new-keywords" type="text" class="tags tags-input" data-default="add keywords..." data-type="tags" disabled/></td>
									</tr>

								</tbody>
							</table>
						</div>
					</div>

					<div class="modal-footer">
						<button type="button" class="btn btn-default pull-left"
								data-dismiss="modal">Close</button>
						<button type="button" class="btn btn-primary">Edit</button>
					</div>
				</div>
			</div>
		</div>
    </div>

	<div layout:fragment="script">
		<script th:src="@{/resources/knongdai/js/main-category.js}"></script>
	</div>

</body>
</html>