<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultrap.net.nz/thymeleaf/layout"
	  layout:decorator="/admin/admin-layout">
<head>
<meta charset="UTF-8">
<title>Main-Category</title>
</head>
<body>
	<div layout:fragment="content" class="wrapper">
		<!-- header section end-->
		<div class="page-head">
			<div class="box-header with-border">
				<h3>Main Category</h3>
			</div>
		</div>
		<hr/>
		<div class="page-head">
			<a href="" class="btn btn-round btn-success btn-sm" id="btAdd"><i class="fa fa-fw fa-plus-square-o"></i> Add More</a>
		</div>
			<div class="box-body">
				<table class="table table-bordered">
					<thead>
						<tr>
							<th>No</th>
							<th>Category</th>
							<th>Description</th>
							<th class="text-center">Action</th>
						</tr>
					</thead>
					<tbody id="mainCategoryData">

					</tbody>
				</table>
			</div>
		<!--JQuery-->

		<script type="text/x-jquery-tmpl" id="mainCategory_tmpl">
			{{each(i , mainCategory) mainCategories}}
				<tr class="tr_main_category">
					<td>${mainCategory.id}</td>
					<td>${mainCategory.cate_name}</td>
					<td>${mainCategory.des}</td>
					<td class="text-center">
						<a  href="#delete" id="btAddByMainCate" data-id=${id} data-cate_name=${mainCategory.cate_name}
							class="btn btn-sm btn-success" >
							<i class="fa fa-plus-square" aria-hidden="true"></i>
						</a>
						<a  href="#delete" id="btDelete" data-id=${id} data-cate_name=${mainCategory.cate_name}
							class="btn btn-sm btn-danger" >
							<i class="fa fa-trash"></i>
						</a>
						<a 	th:href="#update" id="btUpdate" data-id=${id} data-type=${1}
							class="btn btn-sm btn-warning">
							<i class="fa fa-pencil"></i>
						</a>
						<a	href="#detail" id="btDetail" data-id=${id}
							class="btn btn-sm btn-info">
							<i class="fa fa-info"></i>
						</a>
					</td>
				</tr>
				<tr class="pg_sub_category">
					<td><i class="fa fa-chevron-right" aria-hidden="true"></i></td>
					<td colspan="4">
						<div style="height: auto;max-height: 189px;overflow-y: auto;" class="div-cover-sub-cate">
							<table  class="table table-bordered">
								{{if sub_cate.length>0}}
										<tr>
											<th class="">Sub ID</th>
											<th class="">Sub Name</th>
											<th class="">Description</th>
											<th class="">Action</th>
										</tr>
									{{each(i,sub) sub_cate }}
										<tr>
											<td>${sub.id}</td>
											<td>${sub.cate_name}</td>
											<td>${sub.des}</td>
											<td class="text-center">

												<a  href="#delete" id="btDelete_sub-cate" data-id=${id} data-sub_cate_name=${sub.cate_name}
													class="btn btn-sm btn-danger" >
													<i class="fa fa-trash"></i>
												</a>
												<a 	th:href="#update" id="btUpdate" data-id=${id} data-type=${2} data-main=${mainCategory.id}
													class="btn btn-sm btn-warning">
													<i class="fa fa-pencil"></i>
												</a>
												<a	href="#detail" id="btDetail" data-id=${id}
													class="btn btn-sm btn-info">
													<i class="fa fa-info"></i>
												</a>
											</td>
										</tr>
									{{/each}}
								{{else}}
									<tr>
										<td colspan='5'>No sub category</td>
									</tr>
								{{/if}}
							</table>
						</div>
					</td>
				</tr>
			{{/each}}
		</script>


		<!--Add -->
		<!--Add not yet complete-->
		<div class="modal fade" id="mainCategoryAddModal">
			<!-- form start -->
			<form class="form-horizontal" id="mainCategoryAddForm" action="#" method="POST">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
							<h4 class="modal-title">Add Main Category</h4>
						</div>
						<div class="modal-body">
							<!-- /.box-header -->
							<div class="box-body">

								<div class="form-group">
									<label class="col-sm-12">Main Category name :</label>
									<div class="col-sm-12">
										<input type="text" required class="form-control" id="mainCategoryName_add" placeholder="Main Category name...">
									</div>
								</div>

								<div class="form-group">
									<label class="col-sm-12">Icon name :</label>
									<div class="col-sm-12">
										<input type="text" required class="form-control" id="iconName_add" placeholder="Icon name...">
									</div>
								</div>

								<div class="form-group">
									<label class="col-sm-12">Description :</label>
									<div class="col-sm-12">
										<textarea class="form-control" required id="description_add" placeholder="Description..." rows="3"></textarea>
									</div>
								</div>

								<div class="form-group">
									<label class="col-sm-12">Keyword :</label>
									<input  type="text" class="tags tags-input" data-type="tags" id="new-keywords"/>
								</div>

							</div>
							<!--End box-body-->
						</div>
						<!--End modal-body-->

						<div class="modal-footer">
							<button type="button" class="btn btn-default pull-left"
									data-dismiss="modal">Close</button>
							<button type="submit" class="btn btn-primary">Add</button>
						</div>

					</div>
					<!--End modal-content-->
				</div>
				<!--End modal-dialog-->
			</form>
		</div>
		<div class="modal fade" id="mainCategoryByMainCateAddModal">
			<!-- form start -->
			<form class="form-horizontal" id="mainCategoryByMainCateAddForm" action="#" method="POST">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
							<h4 class="modal-title">Add Sub Category to <span id="span_MainCate_name">Main Cate Name</span></h4>
						</div>
						<div class="modal-body">
							<!-- /.box-header -->
							<div class="box-body">

								<div class="form-group">
									<label class="col-sm-12">Sub Category name :</label>
									<div class="col-sm-12">
										<input type="text" required class="form-control" id="SubCategoryNameByMainCate" placeholder="Sub Category name...">
										<input type="hidden" class="form-control" id="hidden_MainCateID" placeholder="Sub Category name...">
									</div>
								</div>


								<div class="form-group">
									<label class="col-sm-12">Description :</label>
									<div class="col-sm-12">
										<textarea class="form-control" required id="descriptionByMainCate" placeholder="Description..." rows="3"></textarea>
									</div>
								</div>

								<div class="form-group">
									<label class="col-sm-12">Keyword :</label>
									<input  type="text" class="tags tags-input" data-type="tags" id="new-keywordsByMainCate"/>
								</div>

							</div>
							<!--End box-body-->
						</div>
						<!--End modal-body-->

						<div class="modal-footer">
							<button type="button" class="btn btn-default pull-left"
									data-dismiss="modal">Close</button>
							<button type="submit" class="btn btn-primary">Add</button>
						</div>

					</div>
					<!--End modal-content-->
				</div>
				<!--End modal-dialog-->
			</form>
		</div>
		<!--Update category-->
		<div class="modal fade" id="mainCategoryUpdateModal">
			<form class="form-horizontal" id="mainCategoryUpdateForm" action="#" method="PUT">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal"
									aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
							<h4 class="modal-title">Main Category Update</h4>
						</div>

						<div class="modal-body">
							<div class="box-body">
								<div class="form-group">
									<label class="col-sm-12">Main Category name :</label>
									<div class="col-sm-12">
										<input type="text" required class="form-control" id="mainCategoryName_up" placeholder="Main Category name...">
									</div>
								</div>

								<div class="form-group">
									<label class="col-sm-12">Icon name :</label>
									<div class="col-sm-12">
										<input type="text" required class="form-control" id="iconName_up" placeholder="Icon name...">
									</div>
								</div>

								<div class="form-group">
									<label class="col-sm-12">Description :</label>
									<div class="col-sm-12">
										<textarea class="form-control" required id="description_up" placeholder="Description..." rows="3"></textarea>
									</div>
								</div>

								<div class="form-group">
									<label class="col-sm-12">Keyword :</label>
									<input id="keywords" type="text" class="tags tags-input" data-default="add keywords..." data-type="tags" disabled="true"/>

								</div>

							</div>
						</div>

						<div class="modal-footer">
							<button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
							<button type="submit" class="btn btn-primary">Update</button>
						</div>
					</div>
				</div>
			</form>
		</div>
<!--Update Sub Category-->
		<div class="modal fade" id="subCategoryUpdateModal">
			<form class="form-horizontal" id="subCategoryUpdateForm" action="#" method="PUT">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal"
									aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
							<h4 class="modal-title">Sub Category Update</h4>
						</div>

						<div class="modal-body">
							<div class="box-body">
								<div class="form-group">
									<label class="col-sm-12">Sub Category name :</label>
									<div class="col-sm-12">
										<input type="text" required class="form-control" id="subCategoryName_up" placeholder="Main Category name...">
									</div>
								</div>

								<div class="form-group">
									<label class="col-sm-12">Icon name :</label>
									<div class="col-sm-12">
										<input type="text" class="form-control" id="sub_iconName_up" placeholder="Icon name...">
									</div>
								</div>

								<div class="form-group">
									<label class="col-sm-12">Main Category</label>
									<div class="col-sm-12" id="div_select_opt_main_cate">
										<select id="select_MainCate">

										</select>
									</div>
								</div>

								<div class="form-group">
									<label class="col-sm-12">Description :</label>
									<div class="col-sm-12">
										<textarea class="form-control" required id="sub_description_up" placeholder="Description..." rows="3"></textarea>
									</div>
								</div>

								<div class="form-group">
									<label class="col-sm-12">Keyword :</label>
									<input id="sub_keywords" required type="text" class="tags tags-input" data-default="add keywords..." data-type="tags" disabled="true"/>

								</div>

							</div>
						</div>

						<div class="modal-footer">
							<button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
							<button type="submit" class="btn btn-primary">Update</button>
						</div>
					</div>
				</div>
			</form>
		</div>

		<!--View Detail-->
		<div class="modal fade" id="mainCategoryDetailModal">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal"
								aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
						<h4 class="modal-title">Main Category Detail</h4>
					</div>

					<div class="modal-body">
						<div class="table-responsive">
							<table class="table">
								<tbody>
									<tr>
										<th class="col-sm-5">ID :</th>
										<td id="mainCategoryId_detail"></td>
									</tr>
									<tr>
										<th>Main Category :</th>
										<td id="mainCategoryName_detail"></td>
									</tr>
									<tr>
										<th>Description :</th>
										<td id="description_detail"></td>
									</tr>
									<tr>
										<th>Keyword :</th>
										<td id="tags_detail">
											<ul>

											</ul>
										</td>
									</tr>

								</tbody>
							</table>
						</div>
					</div>

					<div class="modal-footer">
						<button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
					</div>
				</div>
			</div>
		</div>
    </div>

	<div layout:fragment="script">
		<script th:src="@{/resources/knongdai/js/main-category.js}"></script>
	</div>

</body>
</html>