<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultrap.net.nz/thymeleaf/layout"
	  layout:decorator="/admin/admin-layout">
<head>
<meta charset="UTF-8">
<title>Scap</title>
</head>
<body>
	<div layout:fragment="content" class="wrapper">
		<div id="loading">
			<p style="position: fixed;
    					left: 50%;
    					top: 50%;
    					font-size: x-large;
    					transform: translate(-50%,50%);">
				<i class="fa fa-spin fa-spinner"></i> &nbsp;&nbsp;<span>loading...</span>
			</p>

		</div>
		<!-- header section end-->
		<div class="page-head">
			<div class="box-header with-border">
				<h3>Scrapping module</h3>
			</div>
			<section class="panel">
				<header class="panel-heading">
					Scrapping
					<span class="tools pull-right">
                        <a class="fa fa-repeat box-refresh" href="javascript:;"></a>
                        <a class="t-collapse fa fa-chevron-down" href="javascript:;"></a>
                    </span>
				</header>
				<div class="panel-body">
					<form class="form-horizontal" id="scraping-form">
						<div class="form-group">
							<label class="col-lg-3 col-md-4 control-label" for="web-site">Scrap website</label>
							<div class="col-lg-9 col-md-8">
								<select class="form-control" id="web-site" name="site" required>
									<option>http://atozcambodia.com/</option>
									<option>https://www.google.com.kh</option>
									<!--<option>http://yp.com.kh/</option>-->
									<option>http://yp.com.kh/</option>
									<!--<option>https://www.cccdirectory.org</option>-->
									<!--<option>https://cambodia-pages.com</option>-->
								</select>
							</div>
						</div>
						<div class="form-group">
							<label class="col-lg-3 col-md-4 control-label" for="keyword">Keyword</label>
							<div class="col-lg-9 col-md-8">
								<input type="text" id="keyword" class="form-control" name="keyword" required>
							</div>
						</div>
						<div class="form-group">
							<label class="col-lg-3 col-md-4 control-label"></label>

							<div class="col-lg-9 col-md-8">
								<input type="submit" class="btn btn-success" value="Scrap">
							</div>

						</div>

					</form>
					<table class="table table-bordered" id="scraping-table">
						<thead>
						<tr>
							<th>Title</th>
							<th>Link</th>
							<th>Phone</th>
							<th>Email</th>
							<th>Address</th>
							<th>Description</th>
							<th>Picture</th>
							<th class="text-center">Action</th>
						</tr>
						</thead>
						<tbody id="scraping-data">

						</tbody>
					</table>
				</div>
			</section>
		</div>
		<hr/>

		<script type="text/x-jquery-tmpl" id="url-template-tmpl">
            {{each(i , url) urls}}
				<tr>
					<td class="">
						<input type="text" value="${url.title}" class="form-control title">
					</td>
					<td class="">
						
							<input type="text" value="${url.link}" class="form-control link"> </input>

					</td>
					<td class="">
						<input type="text" value="${url.phone}" class="form-control phone">
					</td>
					<td class="">
						<input type="text" value="${url.email}" class="form-control email">
					</td>
					<td class="">
						<input type="text" value="${url.address}" class="form-control address">
					</td>
					<td class="">
						<textarea class="form-control des" required rows="3">${url.des}</textarea>
					</td>
					<td>
						<img src="${url.pic_url}" class="img" width="90px">
					</td>
					<td class="text-center">
						<button class="btn btn-success btn-add-url">
							<i class="fa fa-plus" aria-hidden="true"></i>
						</button>
					</td>
				</tr>
			{{/each}}
		</script>

		<!--Add URL MODAL-->
		<div class="modal fade" id="URLAddModal">
			<!-- form start -->
			<form class="form-horizontal" id="URLAddForm" action="#" method="POST">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
							<h4 class="modal-title">Add New URL</h4>
						</div>
						<div class="modal-body">
							<div class="box-body">
								<div class="form-group">
									<label class="col-sm-12">Title :</label>
									<div class="col-sm-12">
										<input type="text" required class="form-control" id="txtTitle_Add" placeholder="Title...">
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-12">Main Category :</label>
									<div class="col-sm-12" id="divMainCateAdd">
									</div>
								</div>

								<div class="form-group">
									<label class="col-sm-12">Sub Category :</label>
									<div class="col-sm-12" id="divSubCateAdd">
									</div>
								</div>

								<div class="form-group">
									<label class="col-sm-12">URL Types:</label>
									<div class="col-sm-12">
										<label class="radio-inline"><input type="radio" checked name="optradio-type" value="w">Website</label>
										<label class="radio-inline"><input type="radio" name="optradio-type" value="f">facebook page</label>
									</div>
								</div>

								<div class="form-group">
									<label class="col-sm-12">Link URL :</label>
									<div class="col-sm-12">
										<input type="text"  class="form-control" id="txtLink_Add" placeholder="URL...">
									</div>
								</div>


								<div class="form-group">
									<label class="col-sm-12">Address :</label>
									<div class="col-sm-12">
										<input type="text"  class="form-control" id="txtAddr_Add" placeholder="Address...">
									</div>
								</div>

								<div class="form-group">
									<label class="col-sm-12">Tell :</label>
									<div class="col-sm-12">
										<input type="text"  class="form-control" id="txtTel_Add" placeholder="Phone...">
									</div>
								</div>

								<div class="form-group">
									<label class="col-sm-12">Email :</label>
									<div class="col-sm-12">
										<input type="text"  class="form-control" id="txtEmail_Add" placeholder="Email...">
									</div>
								</div>

								<div class="form-group">
									<label class="col-sm-12">Link Image URL :</label>
									<div class="col-sm-12">
										<input type="text" class="form-control" id="txtimgURL_Add" placeholder="Link Image URL...">
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-12">Description :</label>
									<div class="col-sm-12">
										<textarea class="form-control" required rows="5" id="txtDesc_Add"></textarea>
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-12">Keyword :</label>
									<input id="URL_kw_Add" type="text" class="tags tags-input" data-default="add keywords..." data-type="tags" disabled="true"/>
								</div>
							</div>
						</div>
						<!--End modal-body-->

						<div class="modal-footer">
							<button type="button" class="btn btn-default pull-left"
									data-dismiss="modal">Close</button>
							<button type="submit" class="btn btn-primary">Add</button>
						</div>

					</div>
					<!--End modal-content-->
				</div>
				<!--End modal-dialog-->
			</form>
		</div>
		<!--END of Add URL Modal-->

    </div>

	<div layout:fragment="script">
		<script th:src="@{https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js}"></script>
		<script th:src="@{/resources/knongdai/js/admin-scrape-url.js}"></script>
	</div>

</body>
</html>