            <div class="header-section">

                <!--logo and logo icon start-->
                <div class="logo dark-logo-bg hidden-xs hidden-sm hidden-md">
                    <a th:href="@{/admin/dashboard}">
                        <img th:src="@{/resources/admin/img/logo-icon.png}" alt="">
                        <!--<i class="fa fa-maxcdn"></i>-->
                        <span class="brand-name">Knongdai</span>
                    </a>
                </div>

                <div class="icon-logo dark-logo-bg hidden-xs hidden-sm ">
                    <a th:href="@{/admin/dashboard}">
                        <img th:src="@{/resources/admin/img/logo-icon.png}" alt="">
                        <!--<i class="fa fa-maxcdn"></i>-->
                    </a>
                </div>
                <!--logo and logo icon end-->

                <!--toggle button start-->
                <a class="toggle-btn"><i class="fa fa-outdent"></i></a>
                <!--toggle button end-->

                <!--mega menu start-->
                <div id="navbar-collapse-1" class="navbar-collapse collapse yamm mega-menu">
                    <ul class="nav navbar-nav">

                        <!-- Classic dropdown -->
                        <!--<li class="dropdown"><a href="javascript:;" data-toggle="dropdown" class="dropdown-toggle" th:text="#{change_lang}">   <b-->
                  				<!--class=" fa fa-angle-down"></b></a>-->
                            <!--<ul role="menu" class="dropdown-menu language-switch">-->
                                <!--<li>-->
                                	<!--&lt;!&ndash; @{${URL}+'?lang=kh'} &ndash;&gt;-->
                                    <!--<a tabindex="-1" th:href="@{${URL}(lang=kh)}" ><span> ភាសាខ្មែរ </span> <img th:src="@{/resources/admin/img/flags/kh.png}" alt=""/></a>-->
                                <!--</li>-->
                                <!--<li>-->
                                	<!--&lt;!&ndash; @{${URL}+'?lang=en'} &ndash;&gt;-->
                                    <!--<a tabindex="-1" th:href="@{${URL}(lang=en)}"><span> English </span> <img th:src="@{/resources/admin/img/flags/usa_flag.jpg}" alt=""/></a>-->
                                <!--</li>-->
                            <!--</ul>-->
                        <!--</li>-->

                    </ul>
                </div>

                <!--mega menu end-->

                <div class="left-notification">
                    <ul class="notification-menu">
                        <!--notification info start-->
                        <li>
                            <a href="javascript:;" class="btn btn-default dropdown-toggle info-number" data-toggle="dropdown">
                                <i class="fa fa-bell-o"></i>
                                <span class="badge bg-danger" id="total-notification"><i class="fa fa-spin fa-spinner"></i></span>
                            </a>
                            <div class="dropdown-menu dropdown-title ">

                                <div class="title-row">
                                    <h5 class="title yellow">
                                        New URLs Request ...
                                    </h5>
                                    <a href="/admin/urls" class="btn-danger btn-view-all">View all</a>
                                </div>
                                <div class="notification-list-scroll sidebar">
                                    <div class="notification-list mail-list not-list" id="div-get-add-notify">
                                        <a href="javascript:;" class="single-mail">
                                            <strong>Loading....</strong>
                                            <span class="un-read tooltips" data-original-title="Mark as Read" data-toggle="tooltip" data-placement="left">
                                                <i class="fa fa-circle"></i>
                                            </span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <!--notification info end-->
                    </ul>
                </div>
                <!--left notification end-->
                <div class="notification-wrap">
                <!--right notification start-->
                <div class="right-notification">
                    <ul class="notification-menu">
                        <li>
                            <form class="search-content">
                                <input type="text" class="form-control" name="keyword" th:placeholder="#{search}">
                            </form>
                        </li>

                        <li>
                            <a href="javascript:;" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                <img src="https://maxcdn.icons8.com/Share/icon/Users//administrator_male1600.png" alt="">Administrator
                                <span class=" fa fa-angle-down"></span>
                            </a>
                            <ul class="dropdown-menu dropdown-usermenu purple pull-right">
                                <li><a th:href="@{/logout}" th:text="#{Logout}"><i class="fa fa-sign-out pull-right"></i> </a></li>
                            </ul>
                        </li>
                        <li>
                            <div class="sb-toggle-right">
                                <i class="fa fa-indent"></i>
                            </div>
                        </li>

                    </ul>
                </div>
                <!--right notification end-->
                </div>

            </div>

