<!-- sidebar left start-->
        <div class="sidebar-left">
            <!--responsive view logo start-->
            <div class="logo dark-logo-bg visible-xs-* visible-sm-*">
                <a th:href="@{/admin/dashboard}">
                    <img th:src="@{/resources/admin/img/logo-icon.png}" alt="">
                    <!--<i class="fa fa-maxcdn"></i>-->
                    <span class="brand-nam">Knongdai</span>
                </a>
            </div>
            <!--responsive view logo end-->

            <div class="sidebar-left-info">
                <!-- visible small devices start-->
                <div class=" search-field">  </div>
                <!-- visible small devices end-->

                <!--sidebar nav start-->
                <ul class="nav nav-pills nav-stacked side-navigation">
                    <li>
                        <h3 class="navigation-title">Managerment</h3>
                    </li>
                    <li>
                    	<a th:href="@{/admin/dashboard}"><i class="fa fa-home"></i> <span> Dashboard</span></a>
                    </li>
                    <li>
                        <a th:href="@{/admin/main-category}"><i class="fa  fa-hdd-o"></i> <span> Main Category</span></a>
                    </li>
                    <li>
                        <a th:href="@{/admin/urls}"><i class="fa  fa-link"></i> <span> URLs management</span></a>
                    </li>
                    <li>
                        <a th:href="@{/admin/keywords}"><i class="fa fa-key"></i> <span> Keywords management</span></a>
                    </li>
                    <li>
                        <a th:href="@{/admin/scrap}"><i class="fa  fa-copy"></i> <span> Scrap</span></a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- sidebar left end-->