<!-- Placed js at the end of the document so the pages load faster -->
<script th:src="@{/resources/admin/js/jquery-1.10.2.min.js}"></script>
<script th:src="@{/resources/admin/js/jquery-migrate.js}"></script>
<script th:src="@{/resources/admin/js/bootstrap.min.js}"></script>
<script th:src="@{/resources/admin/js/modernizr.min.js}"></script>

<!--Nice Scroll-->
<script th:src="@{/resources/admin/js/jquery.nicescroll.js}" type="text/javascript"></script>

<!--right slidebar-->
<script th:src="@{/resources/admin/js/slidebars.min.js}"></script>

<!--switchery-->
<script th:src="@{/resources/admin/js/switchery/switchery.min.js}"></script>
<script th:src="@{/resources/admin/js/switchery/switchery-init.js}"></script>
<script th:src="@{/resources/admin/js/select-opt/bootstrap-select.min.js}"></script>

<!--Sparkline Chart-->
<script th:src="@{/resources/admin/js/sparkline/jquery.sparkline.js}"></script>
<script th:src="@{/resources/admin/js/sparkline/sparkline-init.js}"></script>

<!--Data Table-->
<script th:src="@{/resources/admin/js/data-table/js/jquery.dataTables.min.js}"></script>
<script th:src="@{/resources/admin/js/data-table/js/dataTables.tableTools.min.js}"></script>
<script th:src="@{/resources/admin/js/data-table/js/bootstrap-dataTable.js}"></script>
<script th:src="@{/resources/admin/js/data-table/js/dataTables.colVis.min.js}"></script>
<script th:src="@{/resources/admin/js/data-table/js/dataTables.responsive.min.js}"></script>
<script th:src="@{/resources/admin/js/data-table/js/dataTables.scroller.min.js}"></script>
<!--data table init-->
<script th:src="@{/resources/admin/js/data-table-init.js}"></script>

<!--Tag-->
<script th:src="@{/resources/admin/js/tags-input.js}"></script>
<script th:src="@{/resources/admin/js/tags-input-init.js}"></script>

<!--common scripts for all pages-->
<script th:src="@{/resources/admin/js/scripts.js}"></script>

<!--<script th:src="@{/resources/knongdai/js/jquery-3.2.1.min.js}"></script>-->
<script th:src="@{/resources/knongdai/js/jquery.tmpl.min.js}"></script>
<script th:src="@{/resources/knongdai/sweet_alert/sweetalert-dev.js}"></script>
<script th:src="@{/resources/knongdai/sweet_alert/sweetalert.min.js}"></script>
<script th:src="@{/resources/js/knongdai.js}"></script>
<script th:src="@{/resources/front_files/combind.js}"></script>
<!--<script th:src="@{/resources/knongdai/js/new-keyword.js}"></script>-->
<!--<script th:src="@{/resources/knongdai/js/jquery.bootpag.min.js}"></script>-->
<!--<script th:src="@{/resources/knongdai/js/moment.min.js}"></script>-->