    <!--<link rel="shortcut icon" th:href="@{/resources/admin/javascript:;}" type="image/png">-->
    <link rel="shortcut icon" th:href="@{resources/admin/img/logo-icon.png}">
    <!--right slidebar-->
    <link th:href="@{/resources/admin/css/slidebars.css}" rel="stylesheet">

    <!--Tag style-->
    <link th:href="@{/resources/admin/css/tagsinput.css}" rel="stylesheet">

    <!--Data Table-->
    <link th:href="@{/resources/admin/js/data-table/css/jquery.dataTables.css}" rel="stylesheet">
    <link th:href="@{/resources/admin/js/data-table/css/dataTables.tableTools.css}" rel="stylesheet">
    <link th:href="@{/resources/admin/js/data-table/css/dataTables.colVis.min.css}" rel="stylesheet">
    <link th:href="@{/resources/admin/js/data-table/css/dataTables.responsive.css}" rel="stylesheet">
    <link th:href="@{/resources/admin/js/data-table/css/dataTables.scroller.css}" rel="stylesheet">
    <!-- Base Styles -->

    <!--switchery-->
    <link th:href="@{/resources/admin/js/switchery/switchery.min.css}" rel="stylesheet" type="text/css" media="screen" />

    <!--common style-->
    <link th:href="@{/resources/admin/css/style.css}" rel="stylesheet">
    <link th:href="@{/resources/admin/css/style-responsive.css}" rel="stylesheet">
    <link th:href="@{/resources/knongdai/sweet_alert/sweetalert.css}" rel="stylesheet" >
    <link th:href="@{/resources/admin/css/bootstrap-select.min.css}" rel="stylesheet" >
    <link th:href="@{https://cdn.datatables.net/1.10.15/css/jquery.dataTables.min.css}" rel="stylesheet" >

    <link rel="shortcut icon" type="image/png" th:href="@{/resources/front_files/favicon.png}"/>