<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>KnongDai</title>
    <link rel="stylesheet" th:href="@{/resources/front_files/css/bootstrap/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/resources/front_files/css/semantic/semantic.min.css}">
    <link rel="stylesheet" th:href="@{/resources/front_files/css/jquery/jquery-ui.min.css}">
    <link rel="stylesheet" th:href="@{/resources/front_files/js/easy-autocomplete.css}">
    <link rel="stylesheet" th:href="@{/resources/front_files/css/customize/index.css}">
    <link rel="stylesheet" th:href="@{/resources/front_files/jquery.tagsinput.css}">

    <link rel="shortcut icon" type="image/png" th:href="@{/resources/front_files/favicon.png}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body style="">
<div id="sms"></div>
    <!--start top menu-->
    <div id="overlay-div"></div>
    <h2 class="ui center aligned icon header" id="logo-Mobile" style="margin-top: 10px;">
        <a th:href="@{/}" class="item">
            <img th:src="@{/resources/front_files/img/logo.png}" alt="" style="width: 100px;">
        </a>
    </h2>
    <div class="ui labeled icon menu borderbottom" id="menu-container">
        <a class="item" th:href="@{/}" id="div-img-logo">
            <img th:src="@{/resources/front_files/img/logo.png}" alt="" style="font-size: xx-large;">
        </a>
        <!--        Search-->
        <div class="ui action input searchbox" id="div-txt-Search">
            <input type="text" class="oriborder" autocomplete="off" id="txtSearch" th:placeholder="#{textSearch}">
            <!--<input type="text" class="oriborder" autocomplete="off" id="txtSearch-aWord" th:placeholder="#{textSearch}">-->
            <div class="ui button oribg" id="div_btnSearch">
                <i class="large search icon" style="margin: 0px"></i>
            </div>
            <div class="ui button oribg" id="div-btn-more">
                <i class="large chevron circle down icon" style="margin: 0px"></i>
            </div>
            <div style="clear: both"></div>
            <!--            Result Search-->
            <div id="txtResultSearch">
                <ul id="ul-Search-dropdown">

                </ul>
            </div>
            <!--            end of Result-->
        </div>
        <!--        End Search-->

        <div class="ui dropdown item oriColor padding19px" id="div-Server">
            <i class="big grid layout icon"></i>
            <span>សេវាកម្ម បន្ថែម</span>

            <!--            <i class="dropdown icon Nomargin"></i>-->
            <div class="menu" id="container-list-service" style="">
                <div class="ui middle aligned divided list" id="list-service">
                    <div class="item">
                        <img class="ui avatar image img-circle" th:src="@{/resources/front_files/img/logo/ka_rec.png}">
                        <div class="content">
                            <a class="header" href="http://www.khmeracademy.org/" style="white-space: nowrap;">Khmer Academy</a>
                        </div>
                    </div>
                    <div class="item">
                        <img class="ui avatar image img-circle" th:src="@{/resources/front_files/img/logo/akd.png}">
                        <div class="content">
                            <a class="header" href="http://docs.khmeracademy.org/" style="white-space: nowrap;">All Khmer Docs</a>
                        </div>
                    </div>
                    <div class="item">
                        <img class="ui avatar image img-circle" th:src="@{/resources/front_files/img/logo/akn.png}">
                        <div class="content">
                            <a class="header" href="http://news.khmeracademy.org/" style="white-space: nowrap;">All Khmer News</a>
                        </div>
                    </div>
                    <div class="item">
                        <img class="ui avatar image img-circle" th:src="@{/resources/front_files/img/logo/denhtlai.png}">
                        <div class="content">
                            <a class="header" href="http://www.denhtlai.com/" style="white-space: nowrap;">DenhTlai Kh</a>
                        </div>
                    </div>
                    <div class="item">
                        <img class="ui avatar image img-circle" th:src="@{/resources/front_files/img/logo/geekh.png}">
                        <div class="content">
                            <a class="header" href="http://geekh.knongdai.com/" style="white-space: nowrap;">Geekh</a>
                        </div>
                    </div>
                    <div class="item">
                        <img class="ui avatar image img-circle" th:src="@{/resources/front_files/img/logo/kshrd_rec.png}">
                        <div class="content">
                            <a class="header" href="http://kshrd.com.kh" style="white-space: nowrap;">KSHRD Center</a>
                        </div>
                    </div>
                    <div class="item">
                        <img class="ui avatar image img-circle" th:src="@{/resources/front_files/img/logo/sala.png}">
                        <div class="content">
                            <a class="header" href="http://sala.knongdai.com/" style="white-space: nowrap;">Sala </a>
                        </div>
                    </div>
                    <div class="item">
                        <img class="ui avatar image img-circle" th:src="@{/resources/front_files/img/logo/tenhey.png}">
                        <div class="content">
                            <a class="header" href="http://tenh.knongdai.com/" style="white-space: nowrap;">Tenhey</a>
                        </div>
                    </div>
                    <div class="item">
                        <img class="ui avatar image img-circle" th:src="@{/resources/front_files/img/logo/ka_forum_rec.png}">
                        <div class="content">
                            <a class="header" href="http://forum.khmeracademy.org/" style="white-space: nowrap;">KA Foroum</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <a class="item oriColor padding19px" id="div-add-manual">
            <i class="add circle icon"></i>
            <span>ស្នើរ គេហទំព័រ</span>
        </a>
        <!--<div class="ui dropdown item oriColor padding19px" id="div-lang">-->
            <!--<i class="world icon"></i>-->
            <!--<span>Languages</span>-->
<!--&lt;!&ndash;            <i class="dropdown icon Nomargin"></i>&ndash;&gt;-->
            <!--<div class="menu">-->
                <!--<a href="?lang=kh" class="item" data-value="male" data-text="Male">-->
                    <!--<i class="kh flag"></i> KH-->
                <!--</a>-->
                <!--<a href="?lang=en" class="item" data-value="female" data-text="Female">-->
                    <!--<i class="us flag"></i> EN-->
                <!--</a>-->
            <!--</div>-->
        <!--</div>-->
    </div>

    <!--    for mobile-->
<div class="ui middle aligned selection list" id="div-for-mobile" style="padding-left: 12.5%;width: 50%;">
    <a class="item" id="mobile-add-manual">
        <i class="large add circle icon"></i>
        <div class="content">
            <div class="header">Add Manual</div>
        </div>
    </a>
    <hr>
    <a class="item">
        <i class="big grid layout icon"></i>
        <div class="content">
            <div class="header">សេវាកម្មបន្ថែម...</div>
        </div>
    </a>
    <a href="http://www.khmeracademy.org/" class="item">
        <img class="ui image img-circle img-service" th:src="@{/resources/front_files/img/logo/ka_rec.png}">
        <div class="content">
            <div class="header">Khmer Academy</div>
        </div>
    </a>
    <a href="http://docs.khmeracademy.org/" class="item">
        <img class="ui image img-circle img-service" th:src="@{/resources/front_files/img/logo/akd.png}">
        <div class="content">
            <div class="header">All Khmer Docs</div>
        </div>
    </a>
    <a href="http://news.khmeracademy.org/" class="item">
        <img class="ui image img-circle img-service" th:src="@{/resources/front_files/img/logo/akn.png}">
        <div class="content">
            <div class="header">All Khmer News</div>
        </div>
    </a>
    <a href="http://denhtlai.com" class="item">
        <img class="ui image img-circle img-service" th:src="@{/resources/front_files/img/logo/denhtlai.png}">
        <div class="content">
            <div class="header">DenhTlai Kh</div>
        </div>
    </a>
    <a href="http://geekh.knongdai.com/" class="item">
        <img class="ui image img-circle img-service" th:src="@{/resources/front_files/img/logo/geekh.png}">
        <div class="content">
            <div class="header">Geekh</div>
        </div>
    </a>
    <a href="http://kshrd.com.kh" class="item">
        <img class="ui image img-circle img-service" th:src="@{/resources/front_files/img/logo/kshrd_rec.png}">
        <div class="content">
            <div class="header">KSHRD Center</div>
        </div>
    </a>
    <a href="http://sala.knongdai.com" class="item">
        <img class="ui image img-circle img-service" th:src="@{/resources/front_files/img/logo/sala.png}">
        <div class="content">
            <div class="header">Sala</div>
        </div>
    </a>
    <a href="http://tenh.knongdai.com" class="item">
        <img class="ui image img-circle img-service" th:src="@{/resources/front_files/img/logo/tenhey.png}">
        <div class="content">
            <div class="header">Tenhey</div>
        </div>
    </a>
    <a href="http://forum.khmeracademy.org" class="item">
        <img class="ui image img-circle img-service" th:src="@{/resources/front_files/img/logo/ka_forum_rec.png}">
        <div class="content">
            <div class="header">KA Foroum</div>
        </div>
    </a>
    <hr>
</div>
    <!--    end for moblie-->
    <div class="container">
        <!--loading-->
        <div class="ui  segment" style="border: 0px;box-shadow: none;" id="content">
            <ul id="ul-content">
                <li th:each="main : ${MAIN_CATES}">
                    <div class="mainex">
                        <div class="ex1">
                            <img class="ui image" th:src="${main.iconName}">
                        </div>
                        <div class="ex2">
                            <span th:text="${main.categoryName}">asda</span> <i class="caret down icon iconDrop"></i>
                        </div>
                        <div style="clear: both"></div>
                        <div class="div_sub_cate">
                            <div class="div_sub_cate_scroll">
                                <div class="ui list">
                                    <a class="item" th:href="@{'/search?cate_id='+${sub.id}}" th:each="sub : ${main.subCategories}">
                                        <i class="right triangle icon"></i>
                                        <div class="content">
                                            <div class="header" th:text="${sub.categoryName}"></div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <!--End of slidedown-->
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <!--    footer-->
    <div id="footer">
        <div class="container">
            <a href="https://www.facebook.com/ksignhrd/">
                Contact us
            </a>
        </div>
    </div>
    <!--   end footer-->
    <!--   modal-->
    <div class="ui mini modal " id="addUrlModal">
        <div class="header mk-heading">
            បន្ថែមគេហទំព័រ
        </div>
        <div class="content">
            <div class="modalForm">
                <form class="ui form" id="FormAddURL" method="post" >
                    <div class="inline fields">
                        <div class="four wide field align">
                            <label>ចំណងជើងគេហទំព័រ  :</label>
                        </div>
                        <div class="twelve wide field">
                            <input id="txt-Url-Title-Add" required type="text" placeholder="ចំណងជើងគេហទំព័រ">
                        </div>
                    </div>

                    <div class="inline fields ">
                        <div class="four wide field">
                            <label>ទំរង់គេហទំព័រ</label>
                        </div>
                        <div class="twelve wide field">
                            <div class="inline fields">
                                <div class="field">
                                    <div class="ui radio checkbox">
                                        <input type="radio" name="urltype" value="w" checked tabindex="0" class="hidden">
                                        <label>Website </label>
                                    </div>
                                </div>
                                <div class="field">
                                    <div class="ui radio checkbox">
                                        <input type="radio" name="urltype" value="f" tabindex="1" class="hidden">
                                        <label>Facebook page</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="inline fields ">
                        <div class="four wide field">
                            <label>តំណរគេហទំព័រ</label>
                        </div>
                        <div class="twelve wide field">
                            <input type="text" id="txt-UrlLink-Add" required name="txt-url-add" placeholder="www.example.com">
                        </div>
                    </div>
                    <div class="inline fields">
                        <div class="four wide field align">
                            <label>ទំនាក់ទំនង   :</label>
                        </div>
                        <div class="twelve wide field">
                            <input name="txt-Tel-Add" id="txt-Tel-Add" type="text" placeholder="លេខទូរស័ព្ទ">
                        </div>
                    </div>

                    <div class="inline fields">
                        <div class="four wide field align">
                            <label>អ៊ីម៉ែល   :</label>
                        </div>
                        <div class="twelve wide field">
                            <input name="txtUrl" id="txt-Email-Add" type="text" placeholder="Info@mail.com">
                        </div>
                    </div>

                    <div class="inline fields">
                        <div class="four wide field align">
                            <label>អាស័យដ្ឋាន   :</label>
                        </div>
                        <div class="twelve wide field">
                            <input name="txtUrl" id="txt-Addr-Add" type="text" placeholder="អាស័យដ្ឋាន">
                        </div>
                    </div>

                    <div class="inline fields">
                        <div class="four wide field align">
                            <label>រូបភាព   :</label>
                        </div>
                        <div class="twelve wide field">
                            <button class="ui icon button" id="btn-trigger-file-open">
                                <i class="file image outline icon"></i>
                            </button>
                            <input id="txt-Img-File" type="file" name="myImage" accept="image/x-png,image/gif,image/jpeg" />
                            <input name="txtUrl" id="txt-Img-Add" type="text" placeholder="បញ្ចូលអាស័យដ្ឋាននៃរូបភាព">
                        </div>
                    </div>
                    <div class="inline fields">
                        <div class="four wide field align">
                        </div>
                        <div class="twelve wide field">
                            <div class="ui teal progress" id="upload-progress">
                                <div class="bar"></div>
                            </div>
                        </div>
                    </div>
                    <div class="inline fields">
                        <div class="four wide field align">
                            <label>ប្រភេទ :</label>
                        </div>
                        <div class="twelve wide field" id="div-get-add-MainCate">
                            <select class="ui search dropdown" style="width: 100%" id="select-get-add-MainCate">
                                <option>ជ្រេីសរេីសប្រភេទនៃគេហទំព័រ</option>
                            </select>
                        </div>
                    </div>
                    <div class="inline fields">
                        <div class="four wide field align">
                            <label>ប្រភេទលម្អិត :</label>
                        </div>
                        <div class="twelve wide field" id="div-subCate">
                            <select class="ui search dropdown" style="width: 100%" id="select-get-add-SubCate-ByMain">
                                <option value="">ជ្រេីសរេីសប្រភេទលម្អិតនៃគេហទំព័រ</option>
                            </select>
                        </div>
                    </div>
                    <div class="inline fields">
                        <div class="four wide field align">
                            <label>ពាក្យគន្លឺះ :</label>
                        </div>
                        <div class="twelve wide field">
                            <input id="tags_1" type="text" class="tags" value="" />
                        </div>
                    </div>
                    <div class="inline fields">
                        <div class="four wide field align">
                            <label>បរិយាយ :</label>
                        </div>
                        <div class="twelve wide field">
                            <textarea required id="txt-Desc-Add" rows="4"></textarea>
                        </div>
                    </div>

                    <div class="ui error message"></div>
                    <button class="ui positive right labeled icon button" type="submit">
                        ស្នើរ
                        <i class="checkmark icon"></i>
                    </button>
                    <div class="ui negative button" id="btn-Cancel-add">
                        បោះបង់
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!--   end modal-->
    <!--End top menu-->
    <!--Script-->
    <script type="text/javascript" th:src="@{/resources/front_files/js/jquery/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/resources/front_files/js/semantic/semantic.min.js}"></script>
    <!--<script type="text/javascript" th:src="@{/resources/front_files/js/jquery/jquery-ui.min.js}"></script>-->
    <script type="text/javascript" th:src="@{/resources/front_files/js/jquery.easy-autocomplete.js}"></script>
    <script type="text/javascript" th:src="@{/resources/front_files/js/customize/add_url.js}"></script>
    <script type="text/javascript" th:src="@{/resources/front_files/css/slim/jquery.slimscroll.js}"></script>
    <script type="text/javascript" th:src="@{/resources/front_files/jquery.tagsinput.js}"></script>
    <!--    <script type="text/javascript" th:src="@{/resources/front_files/js/bootstrap/bootstrap.js}"></script>-->
    <script type="text/javascript" th:src="@{/resources/js/knongdai.js}"></script>
    <script type="text/javascript" th:src="@{/resources/front_files/js/customize/script.js}"></script>
    <script type="text/javascript" th:src="@{/resources/front_files/js/customize/index.js}"></script>
    <!--End Script-->
</body>

</html>
