<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>KnongDai</title>
    <link rel="stylesheet" th:href="@{/resources/front_files/css/bootstrap/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/resources/front_files/css/bootstrap/pagination/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/resources/front_files/css/semantic/semantic.min.css}">
    <link rel="stylesheet" th:href="@{/resources/front_files/js/easy-autocomplete.css}">
    <link rel="stylesheet" th:href="@{/resources/front_files/css/customize/result.css}">
    <link rel="stylesheet" th:href="@{/resources/front_files/jquery.tagsinput.css}">
    <link rel="shortcut icon" type="image/png" th:href="@{/resources/front_files/favicon.png}"/>
    <script type="text/javascript" th:src="@{/resources/front_files/js/jquery/jquery.min.js}"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
<div id="no-connectivity">ពុំមានការតភ្ជាប់អ៊ីនធឺណិត....</div>
<div id="sms"></div>
<div id="whiteScreen"></div>
<div id="textbox-fixed" class="">
    <div id="sub-logo">
        <img th:src="@{/resources/front_files/img/sub_logo.png}" alt="">
    </div>
<div class="ui action input" id="div-txt-Search-fixed">

    <input type="text" th:placeholder="#{textSearch}" th:value="${KW_NAME}" id="txtSearchFixed">
    <button class="ui icon button oribg" id="btnSearchFixed">
        <i class="search icon"></i>
    </button>
</div>
</div>
    <!--start top menu-->
    <div id="overlay-div"></div>
    <h2 class="ui center aligned icon header" id="logo-Mobile" style="margin-top: 10px;">
        <a th:href="@{/index}" class="item">
            <img th:src="@{/resources/front_files/img/logo.png}" alt="" style="width: 100px;">
        </a>
    </h2>
    <div class="ui labeled icon menu borderbottom" id="menu-container">
        <a class="item" th:href="@{/index}" id="div-img-logo">
            <img th:src="@{/resources/front_files/img/logo.png}" alt="" style="font-size: xx-large;">
        </a>
        <!--        Search-->
        <div class="ui action input searchbox" id="div-txt-Search">
            <input type="text" class="oriborder" autocomplete="off" id="txtSearch" th:value="${KW_NAME}" th:placeholder="#{textSearch}">
            <div class="ui button oribg" id="div_btnSearch">
                <i class="large search icon" style="margin: 0px"></i>
            </div>
            <div class="ui button oribg" id="div-btn-more">
                <i class="large chevron circle down icon" style="margin: 0px"></i>
            </div>
            <div style="clear: both"></div>
            <!--            Result Search-->
            <div id="txtResultSearch">
                <ul id="ul-Search-dropdown">
                </ul>
            </div>
            <!--            end of Result-->
        </div>
        <!--        End Search-->
        <div class="ui dropdown item oriColor padding19px" id="div-Server">
            <i class="big grid layout icon"></i>
            <span>សេវាកម្ម បន្ថែម</span>

            <!--            <i class="dropdown icon Nomargin"></i>-->
            <div class="menu" id="container-list-service" style="">
                <div class="ui middle aligned divided list" id="list-service">
                    <div class="item">
                        <img class="ui avatar image img-circle" th:src="@{/resources/front_files/img/logo/ka_rec.png}">
                        <div class="content">
                            <a class="header" href="http://www.khmeracademy.org/" style="white-space: nowrap;">Khmer Academy</a>
                        </div>
                    </div>
                    <div class="item">
                        <img class="ui avatar image img-circle" th:src="@{/resources/front_files/img/logo/akd.png}">
                        <div class="content">
                            <a class="header" href="http://docs.khmeracademy.org/" style="white-space: nowrap;">All Khmer Docs</a>
                        </div>
                    </div>
                    <div class="item">
                        <img class="ui avatar image img-circle" th:src="@{/resources/front_files/img/logo/akn.png}">
                        <div class="content">
                            <a class="header" href="http://news.khmeracademy.org/" style="white-space: nowrap;">All Khmer News</a>
                        </div>
                    </div>
                    <div class="item">
                        <img class="ui avatar image img-circle" th:src="@{/resources/front_files/img/logo/denhtlai.png}">
                        <div class="content">
                            <a class="header" href="http://www.denhtlai.com/" style="white-space: nowrap;">DenhTlai Kh</a>
                        </div>
                    </div>
                    <div class="item">
                        <img class="ui avatar image img-circle" th:src="@{/resources/front_files/img/logo/geekh.png}">
                        <div class="content">
                            <a class="header" href="http://geekh.knongdai.com/" style="white-space: nowrap;">Geekh</a>
                        </div>
                    </div>
                    <div class="item">
                        <img class="ui avatar image img-circle" th:src="@{/resources/front_files/img/logo/kshrd_rec.png}">
                        <div class="content">
                            <a class="header" href="http://kshrd.com.kh" style="white-space: nowrap;">KSHRD Center</a>
                        </div>
                    </div>
                    <div class="item">
                        <img class="ui avatar image img-circle" th:src="@{/resources/front_files/img/logo/sala.png}">
                        <div class="content">
                            <a class="header" href="http://sala.knongdai.com/" style="white-space: nowrap;">Sala </a>
                        </div>
                    </div>
                    <div class="item">
                        <img class="ui avatar image img-circle" th:src="@{/resources/front_files/img/logo/tenhey.png}">
                        <div class="content">
                            <a class="header" href="http://tenh.knongdai.com/" style="white-space: nowrap;">Tenhey</a>
                        </div>
                    </div>
                    <div class="item">
                        <img class="ui avatar image img-circle" th:src="@{/resources/front_files/img/logo/ka_forum_rec.png}">
                        <div class="content">
                            <a class="header" href="http://forum.khmeracademy.org/" style="white-space: nowrap;">KA Foroum</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <a class="item oriColor padding19px" id="div-add-manual">
            <i class="add circle icon"></i>
            <span>ស្នើរ គេហទំព័រ</span>
        </a>
        <!--<div class="ui dropdown item oriColor padding19px" id="div-lang">-->
            <!--<i class="world icon"></i>-->
            <!--<span>Languages</span>-->
                        <!--<i class="dropdown icon Nomargin"></i>-->
            <!--<div class="menu">-->
                <!--<div class="item" data-value="male" data-text="Male">-->
                    <!--<i class="kh flag"></i> KH-->
                <!--</div>-->
                <!--<div class="item" data-value="female" data-text="Female">-->
                    <!--<i class="us flag"></i> ENG-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    </div>

    <!--    for mobile-->
    <div class="ui middle aligned selection list" id="div-for-mobile" style="padding-left: 12.5%;width: 50%;">
        <a class="item" id="mobile-add-manual">
            <i class="large add circle icon"></i>
            <div class="content">
                <div class="header">Add Manual</div>
            </div>
        </a>
        <hr>
        <a class="item">
            <i class="big grid layout icon"></i>
            <div class="content">
                <div class="header">សេវាកម្មបន្ថែម...</div>
            </div>
        </a>
        <a href="http://www.khmeracademy.org/" class="item">
            <img class="ui image img-circle img-service" th:src="@{/resources/front_files/img/logo/ka_rec.png}">
            <div class="content">
                <div class="header">Khmer Academy</div>
            </div>
        </a>
        <a href="http://docs.khmeracademy.org/" class="item">
            <img class="ui image img-circle img-service" th:src="@{/resources/front_files/img/logo/akd.png}">
            <div class="content">
                <div class="header">All Khmer Docs</div>
            </div>
        </a>
        <a href="http://news.khmeracademy.org/" class="item">
            <img class="ui image img-circle img-service" th:src="@{/resources/front_files/img/logo/akn.png}">
            <div class="content">
                <div class="header">All Khmer News</div>
            </div>
        </a>
        <a href="http://denhtlai.com" class="item">
            <img class="ui image img-circle img-service" th:src="@{/resources/front_files/img/logo/denhtlai.png}">
            <div class="content">
                <div class="header">DenhTlai Kh</div>
            </div>
        </a>
        <a href="http://geekh.knongdai.com/" class="item">
            <img class="ui image img-circle img-service" th:src="@{/resources/front_files/img/logo/geekh.png}">
            <div class="content">
                <div class="header">Geekh</div>
            </div>
        </a>
        <a href="http://kshrd.com.kh" class="item">
            <img class="ui image img-circle img-service" th:src="@{/resources/front_files/img/logo/kshrd_rec.png}">
            <div class="content">
                <div class="header">KSHRD Center</div>
            </div>
        </a>
        <a href="http://sala.knongdai.com" class="item">
            <img class="ui image img-circle img-service" th:src="@{/resources/front_files/img/logo/sala.png}">
            <div class="content">
                <div class="header">Sala</div>
            </div>
        </a>
        <a href="http://tenh.knongdai.com" class="item">
            <img class="ui image img-circle img-service" th:src="@{/resources/front_files/img/logo/tenhey.png}">
            <div class="content">
                <div class="header">Tenhey</div>
            </div>
        </a>
        <a href="http://forum.khmeracademy.org" class="item">
            <img class="ui image img-circle img-service" th:src="@{/resources/front_files/img/logo/ka_forum_rec.png}">
            <div class="content">
                <div class="header">KA Foroum</div>
            </div>
        </a>
        <hr>
    </div>
    <!--    end for moblie-->
    <div class="container-fluid">
        <div class="row">
            <div class="hidden-xs col-sm-3 col-md-3" id="main-accord" style="padding: 0px;">
                <div class="ui fluid accordion" id="accord-category">
                    <!--search textbox trigger-->

                    <!--end of it-->
                    <div th:remove="tag" th:each="main : ${MAIN_CATES}">
                        <div class="main-cate title ui fluid button">
                            <i class="dropdown icon dropIcon"></i>
                            <img class="ui middle aligned mini image paddbottom5" th:src="${main.iconName}">

                            <span class="fontSR" style="top: 3px;" th:text="${main.categoryName}"></span>
                        </div>
                        <div class="content no-padding">
                            <div class="ui list userListCus sub-cate-container">
                                <a th:attr="data-id=${sub.id}" class="item mystyle" th:href="@{'/search?cate_id='+${sub.id}}" th:each="sub : ${main.subCategories}">
                                    <i class="right triangle icon"></i>
                                    <div class=" content">
                                        <div class="header">
                                           <span class="span-SubCate-name" th:text="${sub.categoryName}"></span><span class="span-count" th:text="${sub.totalUrl}">210</span>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <!-- end -->
                </div>
            </div>
            <div class="col-xs-12 col-sm-9 col-md-9">
                <div class="ui top loading segment" id="Search-Result-url">
                    <div class="top-count">
                        <!--<div class="ui scrolling dropdown">-->
                            <!--<input type="hidden" name="gender">-->
                            <!--<div class="default text">Fliter by : </div>-->
                            <!--<i class="dropdown icon" style="margin-left: 0px"></i>-->
                            <!--<div class="menu">-->
                                <!--<div class="item">Any time</div>-->
                                <!--<div class="item">Past hour</div>-->
                                <!--<div class="item">Past 24 hours</div>-->
                                <!--<div class="item">Past week</div>-->
                                <!--<div class="item">Past month</div>-->
                                <!--<div class="item">Past year</div>-->
                            <!--</div>-->
                        <!--</div>-->
                        <span id="spanResult">
                            <span id="count-li-row">111</span> results for <span id="span_keyword_name" th:text="${KW_NAME}" style="color: blue;"></span> keyword
                        </span>
                        <div id="div-result-Url-detail">
                            <!--<h2 id="h2showRes" style="display: none;">There is no result ....</h2>-->
                            <ul id="ul-Urls">
                                <!--<li th:each="url : ${URLS}" class="url-list" th:attr="data-url-id=${url.id}">-->
                                    <!--<div class="mainurl">-->
                                        <!--<a th:href="${url.link}" class="myleft lnk-img" th:if="${url.picUrl} != ''">-->
                                            <!--<img class="ui middle aligned small image gif-loading" th:src="@{${url.picUrl}}">-->
                                        <!--</a>-->
                                        <!--<div class="myright">-->
                                            <!--<div class="url-title">-->
                                                <!--<a th:href="${url.link}">-->
                                                   <!--<img th:src="@{'https://www.google.com/s2/favicons?domain='+${url.link}}">-->
                                                    <!--<span th:text="${#strings.toUpperCase(url.title)}"> PBC PEACE BOOK CENTER</span>-->
                                                <!--</a>  -->
                                            <!--</div>-->
                                            <!--<div class="url-contact" style="white-space: nowrap;" th:if="${!#strings.isEmpty(url.phone)}">-->
                                                <!--<i class="phone icon red"></i> -->
                                                <!--<a th:href="@{'tel:'+ ${url.phone}}" th:text="${url.phone}">023 222 299</a>-->
                                            <!--</div>-->

                                            <!--<div class="url-lnk" style="white-space: nowrap;" th:if="${url.link} != null">-->
                                                <!--<i class="world icon"></i> -->
                                                <!--<a th:href="${url.link}" th:text="${url.link}">www.pbc.com.kh</a>-->
                                            <!--</div>-->
                                            <!--<div class="url-email" style="white-space: nowrap;" th:if="${!#strings.isEmpty(url.email)}">-->
                                                <!--<i class="mail icon grey"></i>-->
                                                <!--<a th:href="@{'mailto:'+${url.email}}" th:text="${url.email}">sales@pbc.com.kh</a>-->
                                            <!--</div>-->
                                            <!--<div class="url-desc" style="word-wrap: break-word;" >-->
                                                <!--<i th:if="${url.address} != ''?${icon='marker icon blue'}:${icon='file text outline icon'}" th:class="${icon}"></i>-->
                                                <!--<span th:text="${url.address} != ''?${url.address}:${url.description}">-->
                                                    <!--No.435, Monivong Blvd., Phnom Penh,Cambodia-->
                                                <!--</span> -->
                                            <!--</div>-->
                                        <!--</div>-->
                                    <!--</div>-->
                                    <!--<div class="ui divider"></div>-->
                                <!--</li>-->
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
        <!--    footer-->
        <div id="footer">
            <div id="pagination" style="text-align: center;"></div>
        </div>
        <!--   end footer-->
        <!--   modal-->
<div class="ui mini modal " id="addUrlModal">
    <div class="header mk-heading">
        បន្ថែមគេហទំព័រ
    </div>
    <div class="content">
        <div class="modalForm">
            <form class="ui form" id="FormAddURL" method="post" >
                <div class="inline fields">
                    <div class="four wide field align">
                        <label>ចំណងជើងគេហទំព័រ  :</label>
                    </div>
                    <div class="twelve wide field">
                        <input id="txt-Url-Title-Add" required type="text" placeholder="ចំណងជើងគេហទំព័រ">
                    </div>
                </div>

                <div class="inline fields ">
                    <div class="four wide field">
                        <label>ទំរង់គេហទំព័រ</label>
                    </div>
                    <div class="twelve wide field">
                        <div class="inline fields">
                            <div class="field">
                                <div class="ui radio checkbox">
                                    <input type="radio" name="urltype" value="w" checked tabindex="0" class="hidden">
                                    <label>Website </label>
                                </div>
                            </div>
                            <div class="field">
                                <div class="ui radio checkbox">
                                    <input type="radio" name="urltype" value="f" tabindex="1" class="hidden">
                                    <label>Facebook page</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="inline fields ">
                    <div class="four wide field">
                        <label>តំណរគេហទំព័រ</label>
                    </div>
                    <div class="twelve wide field">
                        <input type="text" id="txt-UrlLink-Add" required name="txt-url-add" placeholder="www.example.com">
                    </div>
                </div>
                <div class="inline fields">
                    <div class="four wide field align">
                        <label>ទំនាក់ទំនង   :</label>
                    </div>
                    <div class="twelve wide field">
                        <input name="txt-Tel-Add" id="txt-Tel-Add" type="text" placeholder="លេខទូរស័ព្ទ">
                    </div>
                </div>

                <div class="inline fields">
                    <div class="four wide field align">
                        <label>អីុម៉ែល   :</label>
                    </div>
                    <div class="twelve wide field">
                        <input name="txtUrl" id="txt-Email-Add" type="text" placeholder="Info@mail.com">
                    </div>
                </div>

                <div class="inline fields">
                    <div class="four wide field align">
                        <label>អាស័យដ្ឋាន   :</label>
                    </div>
                    <div class="twelve wide field">
                        <input name="txtUrl" id="txt-Addr-Add" type="text" placeholder="អាស័យដ្ឋាន">
                    </div>
                </div>

                <div class="inline fields">
                    <div class="four wide field align">
                        <label>រូបភាព   :</label>
                    </div>
                    <div class="twelve wide field">
                        <button class="ui icon button" id="btn-trigger-file-open">
                            <i class="file image outline icon"></i>
                        </button>
                        <input id="txt-Img-File" type="file" name="myImage" accept="image/x-png,image/gif,image/jpeg" />
                        <input name="txtUrl" id="txt-Img-Add" type="text" placeholder="បញ្ចូលអាស័យដ្ឋាននៃរូបភាព">
                    </div>
                </div>
                <div class="inline fields">
                    <div class="four wide field align">
                    </div>
                    <div class="twelve wide field">
                        <div class="ui teal progress" id="upload-progress">
                            <div class="bar"></div>
                        </div>
                    </div>
                </div>
                <div class="inline fields">
                    <div class="four wide field align">
                        <label>ប្រភេទ :</label>
                    </div>
                    <div class="twelve wide field" id="div-get-add-MainCate">
                        <select class="ui search dropdown" style="width: 100%" id="select-get-add-MainCate">
                            <option>ជ្រេីសរេីសប្រភេទនៃគេហទំព័រ</option>
                        </select>
                    </div>
                </div>
                <div class="inline fields">
                    <div class="four wide field align">
                        <label>ប្រភេទលម្អិត :</label>
                    </div>
                    <div class="twelve wide field" id="div-subCate">
                        <select class="ui search dropdown" style="width: 100%" id="select-get-add-SubCate-ByMain">
                            <option value="">ជ្រេីសរេីសប្រភេទលម្អិតនៃគេហទំព័រ</option>
                        </select>
                    </div>
                </div>
                <div class="inline fields">
                    <div class="four wide field align">
                        <label>ពាក្យគន្លឺះ :</label>
                    </div>
                    <div class="twelve wide field">
                        <input id="tags_1" type="text" class="tags" value="" />
                    </div>
                </div>
                <div class="inline fields">
                    <div class="four wide field align">
                        <label>បរិយាយ :</label>
                    </div>
                    <div class="twelve wide field">
                        <textarea required id="txt-Desc-Add" rows="4"></textarea>
                    </div>
                </div>

                <div class="ui error message"></div>
                <button class="ui positive right labeled icon button" type="submit">
                    ស្នើរ
                    <i class="checkmark icon"></i>
                </button>
                <div class="ui negative button" id="btn-Cancel-add">
                    បោះបង់
                </div>
            </form>
        </div>
    </div>
</div>

<!--   end modal-->
        <!--End top menu-->
    <script type="text/x-jquery-tmpl" id="sites-template-tmpl">
			{{each(i , site) SITES}}
			<li class="url-list" data-id=${site.id}>
                <div class="mainurl" data-id=${site.id}>
                {{if site.pic_url != null }}
                    <a href="${site.link}" class="myleft lnk-img redirect">
                        <img class="ui middle aligned small image w-img" src="${site.pic_url}">
                    </a>
                {{/if}}
                    <div class="myright">
                        <div class="url-title">
                            <a href="${site.link}" class="redirect">
                               <img src="https://www.google.com/s2/favicons?domain=${site.link}">
                                <span>${site.title.toUpperCase()}</span>
                            </a>
                        </div>
                    {{if site.phone != null }}
                        <div class="url-contact" style="white-space: nowrap;">
                            <i class="phone icon red"></i>
                            <a href="@{'tel:'+ ${site.phone}}">${site.phone}</a>
                        </div>
                    {{/if}}
                        <div class="url-lnk" style="white-space: nowrap;">
                            <i class="world icon"></i>
                            <a href="${site.link}" class="redirect">${site.link}</a>
                        </div>
                    {{if site.email != null }}
                        <div class="url-email" style="white-space: nowrap;">
                            <i class="mail icon grey"></i>
                            <a href="mailto:${site.email}}">${site.email}</a>
                        </div>
                    {{/if}}
                    {{if site.address != null}}
                        <div class="url-desc" style="white-space: nowrap;" >
                            <i class="marker icon blue"></i>
                            <span>
                                ${site.address}
                            </span>
                        </div>
                    {{else}}
                        <div class="url-desc" style="white-space: nowrap;" >
                            <i class="file text outline icon"></i>
                            <span>
                                ${site.des}
                            </span>
                        </div>
                    {{/if}}
                    </div>
                </div>
                <div class="ui divider"></div>
            </li>
			{{/each}}
		</script>
        <script type="text/javascript" th:inline="javascript">
//            var totalpage=[[${TOTAL_PAGE}]];
//            console.log(totalpage);

        </script>
        <!--Scroll up-->
        <button class="ui button" id="btn-scroll-top"><i class="chevron circle up icon"></i></button>
        <!--Script-->
        <script type="text/javascript" th:src="@{/resources/knongdai/js/jquery.tmpl.min.js}"></script>
        <script type="text/javascript" th:src="@{/resources/front_files/js/semantic/semantic.min.js}"></script>
        <script type="text/javascript" th:src="@{/resources/front_files/css/slim/jquery.slimscroll.js}"></script>
        <script type="text/javascript" th:src="@{/resources/front_files/js/jquery.easy-autocomplete.js}"></script>
        <script type="text/javascript" th:src="@{/resources/front_files/js/jquery.bootpag.min.js}"></script>
        <script type="text/javascript" th:src="@{/resources/front_files/jquery.tagsinput.js}"></script>
        <!--    <script type="text/javascript" th:src="@{/resources/front_files/js/bootstrap/bootstrap.js}"></script>-->
        <script type="text/javascript" th:src="@{/resources/js/knongdai.js}"></script>
        <script type="text/javascript" th:src="@{/resources/front_files/js/customize/script.js}"></script>
        <script type="text/javascript" th:src="@{/resources/front_files/js/customize/resultpage.js}"></script>
        <script type="text/javascript" th:src="@{/resources/front_files/js/customize/add_url.js}"></script>
    <!--<script typaSe="text/javascript" th:src="@{/resources/front_files/js/customize/index.js}"></script>-->
        <!--End Script-->
</body>

</html>
