<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2 th:each="key : ${KEYS}">
    <span th:text="${key.cate_id}"></span>
</h2>
</body>
</html>